.pass-input {
    margin-top: 8px;
}

.custom-button {
    margin-left: 16px;
}

.footer {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} 

.error-valid {
    font-size: 12px;
    font-style: italic;
    color: red;
}

.form {
    height: 336px !important;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}