@import url("../app.component.css");

:host::ng-deep .content-body {
    .criteria-a {
        a {
            font-weight: 500;
            color: white;
        }
    }
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* #region table */

.table-container {
    max-height: 766px; /* Điều chỉnh chiều cao theo nhu cầu */
    overflow-y: auto; /* Cho phép cuộn dọc */
    border: 1px solid #ddd; /* Thêm viền cho khung chứa */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: none;
}

thead {
    position: sticky;
    top: -2px;
    z-index: 2; /* Đảm bảo tiêu đề nằm trên các hàng dữ liệu */
  }

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr.parent {
    background-color: #e6f7ff;
    font-weight: bold;
}

tr.child {
    background-color: #ffffff;
    padding-left: 20px;
}

tr.child td {
    padding-left: 16px;
}

tr.child:nth-child(even) {
    background-color: #f9f9f9;
}

/* Add border-right to all cells except the last one in each row */
td:not(:last-child), th:not(:last-child) {
    border-right: 1px solid #ddd;
}

/* Ensure parent rows have colspan of 4 to span across all columns */
tr.parent td {
    padding-left: 16px;
    /* border-right: none; Remove right border for merged cell */
}

.point {
    text-align: center;
}

/* endregion */