.custom-button {
    margin-left: 16px;
    margin-top: 16px;
}

.error-valid {
    font-size: 12px;
    font-style: italic;
    color: red;
}

.row {
    margin-right: 0px !important;
    padding: 16px 20px;
}

.title {
    margin: 16px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
}

.col-8 {
    margin-top: 8px;
}